* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: orange;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

img {
  width: 40px;
  height: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  background: lightblue;
  color: blue;
  transition: all 0.3s ease;
  border-radius: 20px;
  padding: 7px;
}

.center {
  display: flex;
  font-family: sans-serif;
}
