* {
 
  box-sizing: content-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: orange;
  padding: 10px 20pxx;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left img {
  width: 80px;
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: blue;
}