@media (min-width: 480px) {
  body {
    background: yellow;
  }
}

@media (max-width: 481px) {
  body {
    background: limegreen;
  }
}

.container ul {
  background: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  padding: 15px;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  background: green;
  color: red;
  transition: all .3s ease;
  padding: 7px;
  border-radius: 20px;
}

.img {
  display: flex;
  justify-content: center;
}

.img:hover {
  background: purple;
}

.teks {
  text-align: center;
  background: lightblue;
  font-size: 20px;
}

.teks:hover {
  background: gray;
  font-size: 50px;
}

